/Milestone01/target/
/com.tenzin.assessments/target/
/Milestone02/target/
/DVDLibrary/target/
/com.tenzin.M2/target/
/StatelessUnitTesting/nbproject/
/StatelessUnitTesting/target/
/com.tenzin.M2/nbproject/
/VendingMachine/target/
/VendingMachine/nbproject/
/BookTracker/target/
/com.tenzin.classroster/target/
/com.tenzin.classroster/nbproject/
/com.tenzin.M4/DVDLibrary/target/
/DVDLibrary - Copy/target/
/VendingMachine - Copy/nbproject/
/VendingMachine - Copy/target/
/VendingMachineDI/nbproject/
/VendingMachineDI/target/
/VendingMachineSpringXML/nbproject/
/VendingMachineSpringXML/target/
/FlooringMaster/nbproject/
/OrderTest/target/
/Testing/target/
/SakilaDao/target/
/SakilaDao/nbproject/
/SpringREST/target/
/ToDoAPI/target/
/RandyClass/target/
/BullsAndCows/target/
/BullsAndCows/nbproject/
/GuessTheNum/target/